
import { Controller, Get, Post, Put, Delete, Patch, Body, Param, Query, Headers, UseGuards, Inject } from '@nestjs/common';
import { {{classname}}ServiceInterface } from '../services/{{classname}}ServiceInterface';
{{#imports}}import { {{classname}} } from '../models/{{classname}}';
{{/imports}}
{{#requiresScopeGuardGlobal}}import { ScopeGuard } from '../guards/scope.guard';
import { Scopes } from '../decorators/scopes.decorator';
{{/requiresScopeGuardGlobal}}

{{#requiresScopeGuardGlobal}}@UseGuards(ScopeGuard){{/requiresScopeGuardGlobal}}
@Controller()
export class {{classname}}Controller {
constructor(@Inject('{{classname}}ServiceInterfaceProvider') private readonly service: {{classname}}ServiceInterface) {}

{{#operations}}
    {{#operation}}
        {{#summary}}/** {{summary}} */{{/summary}}
        {{#notes}}/** {{notes}} */{{/notes}}
        @{{httpMethod}}('{{{path}}}')
        {{#vendorExtensions.scopes}}
            @Scopes({{{vendorExtensions.scopes}}})
        {{/vendorExtensions.scopes}}
        async {{operationId}}({{{vendorExtensions.controllerSignatureList}}}): Promise<{{{returnType}}}> {
        return await this.service.{{operationId}}({{vendorExtensions.argList}});
        }
    {{/operation}}
{{/operations}}
}
