import {
    Controller,
    Get,
    Post,
    Put,
    Delete,
    Patch,
    Body,
    Param,
    Query,
    Headers,
    UseGuards,
    Inject,
    UseInterceptors,
    UsePipes,
    Optional,
    HttpException,
    HttpStatus,
} from '@nestjs/common';
{{#generateServiceInterface}}import { {{classname}}ServiceInterface } from '../services/{{classname}}ServiceInterface';
import { {{operationTokenName}} } from '../constants/provider.tokens';
{{/generateServiceInterface}}
{{#imports}}import { {{classname}} } from '../models/{{classname}}';
{{/imports}}
{{#requiresScopeGuardGlobal}}import { ScopeGuard } from '../guards/scope.guard';
import { Scopes } from '../decorators/scopes.decorator';
{{/requiresScopeGuardGlobal}}
import { SnakeToCamelPipe } from '../pipes/SnakeToCamelPipe';
import { CustomValidationPipe } from '../pipes/CustomValidationPipe';
import { CamelToSnakePipe } from '../pipes/CamelToSnakePipe';

{{#requiresScopeGuardGlobal}}@UseGuards(ScopeGuard){{/requiresScopeGuardGlobal}}
@UsePipes(new SnakeToCamelPipe(), new CustomValidationPipe())
@UseInterceptors(new CamelToSnakePipe())
@Controller('{{basePath}}')
export abstract class {{classname}}Controller {
        constructor() {}

{{#operations}}
    {{#operation}}
        {{#summary}}/** {{summary}} */{{/summary}}
        {{#notes}}/** {{notes}} */{{/notes}}
        @{{httpMethod}}('{{{path}}}')
        {{#vendorExtensions.scopes}}
        @Scopes({{{vendorExtensions.scopes}}})
        {{/vendorExtensions.scopes}}
        async {{operationId}}({{{vendorExtensions.controllerSignatureList}}}): Promise<{{{returnType}}}> {
            try {
                return await this.{{operationId}}Impl({{vendorExtensions.argList}});
            } catch (error) {
                throw new HttpException(
                    error.message,
                    HttpStatus.INTERNAL_SERVER_ERROR,
                );
            }
        }

    {{/operation}}
{{/operations}}

{{#operations}}
    {{#operation}}
        protected abstract {{operationId}}Impl({{vendorExtensions.serviceSignatureList}}): Promise<{{{returnType}}}>;
    {{/operation}}
{{/operations}}
}