{{#vendorExtensions.hasEnums}}
    export namespace {{classname}} {
    {{#allVars}}{{#isEnum}}
        export enum {{enumName}} {
            {{#allowableValues}}{{#enumVars}}{{name}} = '{{{value}}}'{{^-last}},{{/-last}}
            {{/enumVars}}{{/allowableValues}}
        }
        {{/isEnum}}
    {{/allVars}}
    }
{{/vendorExtensions.hasEnums}}
