import { Module, Type, DynamicModule } from '@nestjs/common';
import { Reflector } from '@nestjs/core';
{{#requiresScopeGuardGlobal}}import { ScopeGuard } from './src/guards/scope.guard';
{{/requiresScopeGuardGlobal}}
{{#controllers}}import { {{controllerName}}{{controllerSuffix}} } from './src/controllers/{{controllerFileName}}';
{{/controllers}}


@Module({
    controllers: [
    {{#controllers}}
        {{controllerName}}{{controllerSuffix}},
    {{/controllers}}
    ]
})
export class ApiModule {
    static forRoot(provider: Type<any>): DynamicModule {
        return {
            module: ApiModule,
            providers: [
                {
                {{#services}}
                provide: '{{serviceName}}{{serviceSuffix}}Provider',
                useClass: provider
                {{/services}}
                },
                Reflector,
                {
                    provide: ScopeGuard,
                    useFactory: (reflector: Reflector) => new ScopeGuard(reflector),
                    inject: [Reflector],
                }

            ],
            exports: [
                {{#services}}
                '{{serviceName}}{{serviceSuffix}}Provider',
                {{/services}}
                Reflector,
                ScopeGuard,
            ],
        };
      }
}
