import { Module, Type, DynamicModule, Provider } from '@nestjs/common';
import { Reflector } from '@nestjs/core';
{{#requiresScopeGuardGlobal}}import { ScopeGuard } from './guards/scope.guard';
{{/requiresScopeGuardGlobal}}
{{#controllers}}import { {{controllerName}}{{controllerSuffix}} } from './controllers/{{controllerFileName}}';
{{/controllers}}
import { SnakeToCamelPipe } from './pipes/SnakeToCamelPipe';
import { CustomValidationPipe } from './pipes/CustomValidationPipe';
import { CamelToSnakePipe } from './pipes/CamelToSnakePipe';


@Module({
    providers: [Reflector, ScopeGuard, SnakeToCamelPipe, CustomValidationPipe, CamelToSnakePipe],
    exports: [Reflector, ScopeGuard, SnakeToCamelPipe, CustomValidationPipe, CamelToSnakePipe]
  })
export class ApiModule {
  static forRoot(options: {
    providers: Array<{
      token: string;
      implementation: Type<any>;
    }>;
    imports?: any[];
  }): DynamicModule {
    const moduleProviders: Provider[] = [
      Reflector,
      {
        provide: ScopeGuard,
        useFactory: (reflector: Reflector) => new ScopeGuard(reflector),
        inject: [Reflector],
      },
      SnakeToCamelPipe,
      CustomValidationPipe,
      CamelToSnakePipe
    ];

    const moduleExports: any[] = [
      Reflector,
      ScopeGuard,
      SnakeToCamelPipe,
      CustomValidationPipe,
      CamelToSnakePipe
    ];

    options.providers.forEach(provider => {
      moduleProviders.push({
        provide: provider.token,
        useExisting: provider.implementation
      });
      moduleExports.push(provider.token);
    });

    return {
      module: ApiModule,
      imports: options.imports || [],
      providers: moduleProviders,
      exports: moduleExports,
    };
  }
}