{
    "name": "@apir/{{{projectName}}}-server-test",
    "version": "{{{projectVersion}}}{{^projectSubVersion}}{{/projectSubVersion}}{{#projectSubVersion}}{{projectSubVersion}}{{/projectSubVersion}}",
    "description": "REST client for {{{npmName}}}",
    "author": "OpenAPI Generator Contributors",
    "main": "dist/index.js",
    "scripts": {
        "build": "npx tsc -p tsconfig.json"
    },
    "dependencies": {
        "@nestjs/common": "^{{nestVersion}}",
        "@nestjs/core": "^{{nestVersion}}",
        "@nestjs/platform-express": "^{{nestVersion}}",
        {{#useAxiosHttpModule}}
            "@nestjs/axios": "^2.0.0",
        {{/useAxiosHttpModule}}
        "lodash": "^4.17.21",
        "class-transformer": "^0.5.1",
        "class-validator": "^0.14.1",
        "reflect-metadata": "^0.2.2",
        "rimraf": "^6.0.1",
        "rxjs": "^7.8.2"
    },
    "devDependencies": {
        "typescript": "^4.0.0",
        "@types/node": "^18.0.0"
    }{{#npmRepository}},{{/npmRepository}}
    {{#npmRepository}}
        "publishConfig": {
            "registry": "{{{npmRepository}}}"
        }
    {{/npmRepository}}
}