{
    "name": "{{{projectName}}}",
    "version": "{{{projectVersion}}}",
    "description": "REST client for {{{npmName}}}",
    "author": "OpenAPI Generator Contributors",
    "repository": {
    "type": "git",
    "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
    },
    "keywords": [
    "swagger-client"
    ],
    "license": "{{licenseName}}",
    "scripts": {
    "build": "tsc -p tsconfig.json"
    },
    "dependencies": {
    "@nestjs/common": "^{{nestVersion}}",
    "@nestjs/core": "^{{nestVersion}}",
    "@nestjs/platform-express": "^{{nestVersion}}",
    {{#useAxiosHttpModule}}
        "@nestjs/axios": "^2.0.0",
    {{/useAxiosHttpModule}}
    "class-validator": "^0.13.2",
    "reflect-metadata": "^0.1.13",
    "rimraf": "^2.6.3",
    "rxjs": "^7.1.0"
    }{{#npmRepository}},{{/npmRepository}}
    {{#npmRepository}}
        "publishConfig": {
        "registry": "{{{npmRepository}}}"
        }
    {{/npmRepository}}
}
