/**
* This abstract class defines the contract for the {{serviceName}} API service.
* Implement this class to provide the concrete business logic.
*/
{{#imports}}import { {{classname}} } from '../models/{{classname}}';
{{/imports}}

export interface {{serviceName}} {
{{#operations}}
    /**
    * {{summary}}
    * {{#notes}}
        * {{notes}}
        * {{/notes}}
    */
    {{operationId}}({{vendorExtensions.serviceSignatureList}}): Promise<{{{vendorExtensions.returnType}}}>;
{{/operations}}
}
{{{services}}}