{{#models}}{{#model}}
import { ApiProperty } from '@nestjs/swagger';
import { IsOptional, IsNotEmpty } from 'class-validator';

export class {{classname}}Dto {
{{#vars}}
    @ApiProperty({ description: '{{#description}}{{.}}{{/description}}{{^description}}No description{{/description}}' })
    {{#required}}@IsNotEmpty(){{/required}}
    @IsString()
    {{name}}: string;
{{/vars}}
{{/model}}
}
{{/models}}